appdirs==1.4.0

backports-abc==0.5

backports.shutil-get-terminal-size==1.0.0

bleach==1.5.0

boto==2.45.0

certifi==2017.1.23

click==6.7

colorama==0.3.7

conda==4.2.7

configparser==3.5.0

cycler==0.10.0

decorator==4.0.11

docopt==0.6.2

entrypoints==0.2.2

enum34==1.1.6
gdbn==0.1

gnumpy==0.2

html5lib==0.9999999

ipykernel==4.5.2

ipython==5.1.0

ipython-genutils==0.1.0

isodate==0.5.4

Jinja2==2.9.5

joblib==0.10.3

jsonschema==2.5.1

jupyter-client==4.4.0

jupyter-core==4.2.1

Lasagne==0.1

MarkupSafe==0.23

matplotlib==2.0.0

mistune==0.7.3

nbconvert==5.1.1

nbformat==4.2.0

networkx==1.11

nolearn==0.6.0

notebook==4.3.1

numpy==1.12.0

onto2nx==0.1.0

packaging==16.8

pandas==0.19.2

pandocfilters==1.4.1

pathlib2==2.2.1

pexpect==4.2.1

pickleshare==0.7.4

prompt-toolkit==1.0.10

ptyprocess==0.5.1

py2neo==3.1.2

PyBEL==0.3.8
pycosat==0.6.1

pycrypto==2.6.1

pyfiglet==0.7.5

Pygments==2.2.0

pyparsing==2.1.10

python-dateutil==2.6.0

pytz==2016.10

PyYAML==3.12

pyzmq==16.0.2

rdflib==4.2.2

rdflib-jsonld==0.4.0

requests==2.13.0

requests-file==1.4.1

ruamel.ordereddict==0.4.9

ruamel.yaml==0.13.13

scandir==1.4

scikit-learn==0.18.1

scipy==0.18.1

simplegeneric==0.8.1

singledispatch==3.4.0.3

six==1.10.0

sklearn==0.0

SPARQLWrapper==1.8.0

SQLAlchemy==1.1.5

subprocess32==3.2.7

tabulate==0.7.7

terminado==0.6

testpath==0.3

Theano==0.8.2

tornado==4.4.2

traitlets==4.3.1

typing==3.5.3.0

wcwidth==0.1.7